body {
  background-color:#f0e3fc!important;
}

h1 {
  font-family: "Playwrite CU", cursive;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
  
}

h2 {

  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;

}

header {
  padding: 15px 25px; /* Ajusta el padding a tu gusto */
  
}

/* Estilos para el navbar */

.navbar {
  background-color: #f0e3fc;
  width: 100%;
}

.navbar-collapse {
  border: none;
  padding: 0;
  background: transparent;
}

.collapse {
  padding: 0;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  
  
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 10px;
  transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
}

/* Efecto hover */
.nav-link:hover {
  color: #f0e3fc;
  background-color: #d1e7d6;
  border-radius: 5px;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin: 10px 0;
  }

  .navbar-toggler {
    margin: 0 auto; /* Centra el botón de hamburguesa horizontalmente */
    display: block; /* Asegúrate de que esté como bloque para centrarlo */
    margin-top: 20px;
  }
}

/*boton saber más*/

.button {
    display: inline-flex;
    align-items: center ;
    justify-content: center;
    padding: 10px 10px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.02s;
    font-weight: bold;
    cursor: pointer;
    color: rgb(37, 37, 37);
    z-index: 0;
    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
    width: 10px;
  }
  
  .button:hover {
    background: rgb(193, 228, 248);
    color: rgb(33, 0, 85);
  }
  
  .button:active {
    transform: scale(0.97);
  }
  
  .hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .hoverEffect div {
    background: rgb(222, 0, 75);
    background: linear-gradient(
      90deg,
      rgba(222, 0, 75, 1) 0%,
      #bf46ff 49%,
      rgba(0, 212, 255, 1) 100%
    );
    border-radius: 40rem;
    width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
  }
  
  .button:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
  }
  
  @keyframes effect {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
